{
    "presets": [
      "@babel/preset-env"
    ],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "validations": "./src/validations",
          "routes": "./src/routes",
          "src": "./src"
        }
      }]
    ]
}